node_modules
dist
.next
.turbo
coverage
.env
.env.local
*.log
.DS_Store
.idea
.vscode
.flutter-plugins
.flutter-plugins-dependencies
build/
.dart_tool/
.pub-cache/
.pub/
ios/Pods/
ios/.symlinks/
android/.gradle/
android/local.properties
*.tsbuildinfo
prisma/migrations/dev/
